.profile {
  height: 20vh;
  border-bottom: 1px solid var(--ion-color-tertiary);

  ion-grid, ion-col,ion-row {
    height: 100%;
    margin: 0;
    padding: 0;

    p {
      margin: 0;
      padding: 0;
    }

    img {
      width: 13vh;
      height: 13vh;
      border-radius: 20%;
      border: 7px var(--ion-color-tertiary);
      object-fit: contain;
      margin-left: 2vh;
    }

    .texts {
      margin-left: 2vh;
      margin-top: 1.5vh;
      p {
        color: white;
      }

      .title {
        font-family: 'Exo-Black';
        font-size: 2.5vh;
      }

      .subtitle {
        font-family: 'Exo-Thin';
      }
    }
  }
}

.bio {

  --background: none;
  background-image: url('../../../../../assets/screens/profile/team-logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 0px 277px 3px var(--ion-color-dark);


  ion-grid, ion-row,ion-col {
    height: 100%;
    margin: 0;
    padding: 0;

    p {
      margin: 0;
      padding: 0;
    }

    height: 10vh;
    border-bottom: 1px solid var(--ion-color-tertiary);

    img {
      width: 7vh;
      height: 7vh;
      object-fit: contain;
      margin-left: 2vh;
    }

    .title {
      color: white;
    }
  }
}

.trophys {
  height: 25vh;

  ion-card, ion-card-header, ion-card-content, p {
    margin: 0;
    padding: 0;
  }

  ion-card {
    height: 100%;

    ion-card-header {
      height: 20%;
      ion-row {
        margin-top: 1vh;
      }

      .title {
        font-family: 'Exo-Black';
      }
      .title.active {
        color: var(--ion-color-tertiary);
      }
    }

    ion-card-content {
      height: 80%;
      padding: 2vh 3vh;

      ion-slides {
        display: block;
        height: 100%;

        ion-slide {
          display: block;
        }
      }

      ion-card {

        ion-card-header {
          ion-card-subtitle {
            color: white;
            font-family: 'Exo-Black';
            margin-top: 1vh;
          }
        }
        ion-card-content {
          padding: 0;
          margin: 0;

          .header {
            width: 7vh;
            height: auto;
          }

          .value{
            font-family: 'Exo-Black';
            font-size: 3vh;
            color: white;
          }

          ion-card, ion-row, ion-col {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}

.stats {
  height: 10vh;

  --background: none;
  background-image: url('../../../../../assets/screens/profile/team-logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 0px 277px 3px var(--ion-color-dark);

  ion-grid, ion-row, ion-col {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  ion-grid {
    border-top: 1px solid var(--ion-color-tertiary);
    border-bottom: 1px solid var(--ion-color-tertiary);
  }

  .title, .subtitle {
    color: white;
    text-align: center;
    margin: 0;
  }

  .title {
    font-family: 'Exo-Black';
    font-size: 3vh;
    margin-top: 2.5vh;
  }

  .subtitle {
    font-size: 2vh;
  }

}
