<app-my-header title="Meu Perfil"></app-my-header>

<ion-content>
  <div class="profile">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4">
          <p class="ion-text-center center">
            <img src="../assets/img/default-user.png" alt="">
          </p>
        </ion-col>
        <ion-col size="8">
          <div class="center ion-margin-end">
            <div class="texts">
              <p class="title">mauriciokwitko</p>
              <p class="subtitle">bla bla bla bla bandeira bla bla bla</p>
              <div class="ion-margin-top">
                <p>
                  <ion-button fill="clear">
                    <ion-icon slot="end" color="tertiary" name="medal-sharp"></ion-icon>
                  </ion-button>
                  <ion-button fill="clear">
                    <ion-icon slot="end" color="tertiary" name="ticket-sharp"></ion-icon>
                  </ion-button>
                  <ion-button fill="clear">
                    <ion-icon slot="end" color="tertiary" name="warning-sharp"></ion-icon>
                  </ion-button>
                </p>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="bio">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="3">
          <p class="ion-text-center center">
            <img src="../../../../../assets/screens/profile/team-logo.png" alt="">
          </p>
        </ion-col>
        <ion-col size="9">
          <div class="center ion-margin-start ion-margin-end">
            <p class="title">Profissional atuante pela equipe meu cu</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="stats">

  </div>
  <div class="trophys">

  </div>
</ion-content>
